.body-class{
    background-color: #03DAC6;

}

.navbar-class{
     background-color: #000000
}


.search-bar{

}


li {

    font-family: "Palatino Linotype";
    font-size: large;
    margin: .1vw;
}



li:hover {
  animation: shake 1.7s;
  animation-iteration-count: infinite;
}



.nav-icon{
     position: relative;
     top: 4px;


}